
.file-upload-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #e9e9e9;
    border-radius: 0.25rem;
    position: relative;
}
.file-upload-file-percent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 3px 3px white;
    background-color: white;
    border-radius: 0.333rem;
    padding: 0 0.5rem;
}
.file-upload-file.invalid{
    background-color: var(--error-light);
}

.file-upload-file > * {
    z-index: 1;
}
.file-upload-file::before {
    content: " ";
    width: calc(100% * var(--percent));
    position: absolute;
    left: 0;
    top: 0;
    background: #cbe5df;
    height: 100%;
    z-index: 0;
    border-radius: 0.25rem;
}
.left-content, .right-content {
    display: flex;
    align-items: center;
}
.left-content {
    gap: 0.5rem;
    flex-grow: 1;
}
.right-content {
    gap: 1rem;
}

.file-upload-file p {
    margin: 0;
}
.file-upload-file-errors-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.file-upload-file-error {
    margin: 0;
    line-height: 1;
    color: var(--error-text);
}
.file-upload-file-delete-button {
    width: 2rem;
    aspect-ratio: 1;
    position: relative;
}

::deep .file-upload-file-delete-button svg {
    height: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::deep.file-upload-file.invalid .error-icon {
    color: var(--error-text);
}

.file-upload-rename-container {
    position: relative;
    min-width: 50%;

}
::deep .file-upload-rename-container svg {
    color: inherit;
    position: absolute;
    right: 0px;
    top: 50%;
    height: 1.33em;
    width: 1.33em;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 33%;
}
::deep .file-upload-rename-container:has(.file-upload-file-name.editable:focus-visible) svg {
    opacity: 75%;
}

.file-upload-file-name.editable {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    margin: 0;
    background-color: transparent;
    padding: 0.25em 2em 0.25em 0.25em;
    min-width: 100%;
}

.file-upload-file-name.editable:focus-visible {
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    outline: none;
}

.file-upload-file-extension-text .extension{
    font-weight: bold;
}