@page "/"
@using System.Diagnostics

<FileUpload @ref=@Instance 
    FilesChanged="@OnFilesChanged"
            Multiple="true" Validation="@Validation" FileValidation="@FileValidation" IncludeButton="true">

</FileUpload>

<button onclick="@ButtonClicked">test</button>

@code {
    private FileUpload Instance;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

    }

    private void ButtonClicked()
    {
        
    }

    private List<string>? Validation(IReadOnlyList<FrontEndFile> files)
    {
        if (!files.Any())
        {
            return null;
        }
        return new List<string>()
        {
            "This is an error"
        };
    }
    private List<string>? FileValidation(FrontEndFile file)
    {
        return null;
    }

    private async Task OnFilesChanged(IEnumerable<FrontEndFile> files){
        if (!files.Any())
        {
            return;
        }
        var file = files.First();
        var filePath = "C:\\Users\\Jaron\\Desktop\\test\\TEST__" + file.FileName;
        if (File.Exists(filePath))
        {
            File.Delete(filePath);
        }
        //var contents = await file.GetAllContents();
        //await File.WriteAllBytesAsync(filePath, contents);

        // using var fileStream = File.Create(filePath);
        // using var downloadStream = file.CreateStream();
        // await downloadStream.CopyToAsync(fileStream);
        // fileStream.Close();
    }
}